@import '../../styles/colors.css';

$button-height: 42px;

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  overflow: hidden;
  .bg {
    display: none;
    @media (min-width: 500px) {
      display: block;
      max-width: 90vw;
      position: absolute;
      bottom: 10vh;
      z-index: -2;
    }
  }
  header {
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    @media (min-width: 500px) {
    height: 50vh;
      align-items: flex-start;
      justify-content: flex-start;
      /* z-index: -1; */
    }
    hgroup {
      background: rgba(255, 255, 255, 0.6);
      padding: 10px;
      text-align: center;
      font-weight: bold;
      @media (min-width: 500px) {
        text-align: left;
        margin-top: 27vh;
        margin-left: 15vw;
      }
      h1 {
        font-size: 5em;
        margin: 0;
        transition: 2s;
        @media (min-width: 800px) {
          font-size: 8em;
          padding: 20px;
        }
      }
      .tagline {
        font-size: 1.5em;
        margin: 0;
      }
      .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        @media (min-width: 500px) {
          flex-direction: row;
        }
        .ctas {
          .cta {
            line-height: calc($button-height + 10px);
            border: 3px solid $color-main;
            background: white;
            padding: 10px 20px;
            margin-right: 5px;
            color: $color-main;
            text-decoration: none;
            transition: 1s;
          }
        }
      }
    }
  }
}

.deskitems {
  width: 90vw;
  margin: 0 auto;
  /* display: flex;
  align-items: flex-end;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* grid-template-rows: 10px; */
  grid-template-areas: 'pencils   books   computer  fishtank'; 
  align-items: end;

  > * {
    transition: 500ms;
  }

  .fishtank {
    grid-area: fishtank;
    height: 55vh;
    @media (max-width: 1200px) {
      height: 45vh;
    }
    @media (max-width: 800px) {
      height: 35vh;
    }
  }

  .computer {
    grid-area: computer;
    height: 30vh;
    @media (max-width: 1200px) {
      height: 20vh
    }
  }

  .books {
    grid-area: books;
    height: 25vh;
    @media (max-width: 1200px) {
      height: 15vh;
    }
  }

  .cup {
    grid-area: pencils;
    height: 18vh;
    @media (max-width: 1200px) {
      display: none;
    }
  }

  @media (max-width: 700px) {
      display: none;
    }

}
