.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 33%));
    span {
        text-decoration: underline;
    }
}

.main, .updated {
    grid-column-start: 1;
    grid-column-end: -1;
}

.updated {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}