/* @import "../../styles/colors.css"; */

.card {
  h2 {
    margin: 0 0 5px;
  }
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    border-bottom: 1px solid black;
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      li {
        padding-right: 5px;
        &:not(:first-of-type):not(:last-of-type):after {
          content: ', ';
        }
      }
    }
  }
}