.about {
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:  'banana  empty1     hello      hello     empty2'
                        'banana  community  community  groupImgs groupImgs'
                        'banana  community  community  group     group'
                        'banana  empty3     empty3     group     group';
  grid-gap: 10px;
  .hello {
    grid-area: hello;
  }
  .community {
    grid-area: community;
  }
  .meImage {
    grid-area: banana;
  }
  .groupImages {
    grid-area: groupImgs;
  }
  .group {
    grid-area: group;
  }
}
