.header {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  > * {
    margin: 0;
  }
}

.postList {
  list-style-type: none;
  padding: 0;
  .post {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(150px, 250px) 2fr;
    img {
      width: 100%;
    }
    .words {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      .info, h2 {
        margin: 0;
        padding: 0;
      }
      h2 {
        font-size: 2em;
      }
      .info {
        font-size: 0.8em;
        font-style: italic;
      }
    }
  }
}