.siteGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
  padding: 0;
  grid-gap: 10px;

  li {
    border: 1px solid black;
    text-align: center;
    a {
      font-size: 1.25em;
      color: black;
      line-height: 3em;
    }
    img {
      display: block;
    }
  }
}