.siteGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  list-style-type: none;
  padding: 0;
  grid-gap: 10px;

  li {
    border: 1px solid black;
    text-align: center;
    a {
      color: #AE70AF;
      line-height: 3em;
    }
    img {
      display: block;
    }
    p {
      text-align: justify;
      padding: 5px;
      margin: 0;
    }
  }
}