.projectGrid {
  list-style-type: none;
  padding: 0;
  li {
    display: flex;
    padding-bottom: 10px;
    img {
      max-width: 350px;
      max-height: 250px;
    }
    > div {
      padding: 0 10px;
      > * {
        margin: 0;
      }
    }
  }
}