.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'side main';
  max-width: 1800px;
  min-height: calc(100vh - 125px);
  margin: 0 auto;
  text-align: justify;
  padding: 15px;
  grid-gap: 15px;
}
aside {
  > * {padding: 5px;}
  grid-area: side;
  height: 100%;
  max-height: calc(100vh - 125px);
  max-width: 32vw;
  overflow: hidden;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75% 20%;
  grid-gap: 15px;
  grid-template-areas: 'info info'
                       'cp   gh';
  .projectsInfo {
    grid-area: info;
  }
  .codepen {
    grid-area: cp;
  }
  .github {
    grid-area: gh;
  }
}
.projectGrid {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'p1      p2    p3    p3'
                       'p1      p2    p5    p6'
                       'p1      p2    p5    p6'
                       'p4      p4    p5    p6';
  grid-gap: 15px;
  > * { padding: 5px; }
  .project1 {
    grid-area: p1;
  }
  .project2 {
    grid-area: p2;
  }
  .project3 {
    grid-area: p3;
  }
  .project4 {
    grid-area: p4;
  }
  .project5 {
    grid-area: p5;
  }
  .project6 {
    grid-area: p6;
  }
}