.frame {
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
  font-weight: normal;
    h1, h2, p {
      margin: 0;
    }
  header {
    background: #E66565;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
    flex-wrap: wrap;
    h1:after {
      padding: 1em;
      content: '/ /'
    }
  }
  .content {
    padding: 10px;
    section {
      > h1 {
        color: #E66565;
        text-align: center;
        border-top: 2.5px solid #E66565;
        border-bottom: 1px solid #E66565;
        margin: 10px 0;
        padding: 10px 0;
      }
      article {
        hgroup {
          h1 {
            color: #E66565;
          }
          p:before {
            content: '|';
            color: black;
            padding: 0.5em;
          }
          h1, p {
            display: inline-block;
            font-size: 1.25em;
            font-family: 'Poiret One', cursive;
          }
        }
      }
    }
    .skills  {
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 0;
        margin: 0 0 15px;
        list-style-position: inside;
        text-align: left;
        font-size: 0.9em;
      }
      h2 {
        font-size: 1.25em;
      }
    }
  }
}