@import "../../styles/colors.css";


  .headerHome, .header {
    transition: 0.5s;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 10;
  }

  .header {
    background: $color_light;
  }
  
  .nav {
    svg {
      margin-right: 10px;
    }
  }

  
.toggleBox {
  opacity: 0;
}

@media (max-width: 599px) {
  .toggleBox:checked + .toggle {
    svg {
      transform: rotate(180deg);
    }
    + .nav {
      right: 0;
    }
  }
  .toggleBox + .toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 30px;
    z-index: 15;
    svg {
      margin-right: 10px;
    }
  }
  .nav {
    transition: 500ms;  
    position: absolute;
    right: -100%;
    background: $color_light;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.25em;
    align-items: stretch;
    padding-left: 25px;
    > div {
      line-height: 42px;
      margin: 10px auto;
      width: 60%;
      min-width: 350px;
      > a {
        display: block;
      }
      > div {
        padding-left: 25px;
        a {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .headerHome, .header {
    justify-content: space-between;
  }
  .hideMobile {
    display: none;
  }
}
  

@media (min-width:600px) {
  .headerHome {
    justify-content: flex-end;
    top: 45px;
  }

  .header {
    top: 0;
  }

  .nav {
    width: 50vw;
    min-width: 400px;
    max-width: 600px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.15em;
    > div {
      flex-grow: 1;
      height: 100%;
      position: relative;
      > a {
        text-align: center;
        width: 100%;
        height: 100%;
        display: block;
        line-height: 50px;
        color: $color_dark;
      }
      &:hover > a {
        color: $color_default;
      }
      &:not(:first-of-type):not(:last-of-type) > div {
        left: -50%;
      }
      &:first-of-type > div {
        left: 0;
      }
      &:last-of-type > div {
        right: 0;
      }
      &:hover > div {
        display: block;
      }
      > div {
        display: none;
        overflow: hidden;
        background-color: $color_light;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
        border-radius: 0 0 5px 5px;
        min-width: 200%;
        position: absolute;
        padding: 10px;
        > a {
          display: block;
          float: left;
          padding: 10px;
          width: 46%;
          margin: 1% 2%;
          text-align: center;
          transition: box-shadow 0.2s ease;
          background: $color_light;
          &:hover {
            background: $color_light;
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
          }
        }
      }
    }
  }

  .toggle {
    display: none;
  }
} 



