* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  margin-top: 100px;
  height: calc(100vh - 100px);
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, nav a, .title {
  font-family: 'Poiret One', cursive;
}
img {
  max-width: 100%;
}
.container {
  max-width: 
}