.techList {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-gap: 10px;
  font-size: 0.8em;
  img {
    width: 100%;
    height: 75px;
    margin-bottom: 5px;
    filter: grayscale(0.5);
    transition: 1s;
    &:hover {
      filter: grayscale(0);
      transform: scale(1.25) rotate(10deg);
      z-index: 10;
    }
  }
}